<div class="ngneat-dialog-container">
  <div class="modal-toolbar">
    <span class="modal-title">Rarity Explanation</span>
  </div>
  <div class="modal-body">
    <div class="rarity-grid">
      <div class="rarity-card" *ngFor="let rarity of plantRarities">
        <app-item
          [name]="rarity"
          [imageUrl]="'assets/rarities/' + rarity + '.webp'"
          [showPointerOnHover]="false"
        ></app-item>
        <p>
          {{ rarityExplanation[rarity].description }}
          <span class="percentage">{{ rarityExplanation[rarity].chance }}</span>
          chance of finding these plants.
        </p>
      </div>
    </div>

    <div class="odds">
      Odds to find plants increase linearly with the value of your roll
    </div>
  </div>
</div>
