<div class="herbalist-container">
  <header class="welcome-header">
    <h1>Welcome to Herbalist!</h1>
    <span class="about-link" (click)="openAboutModal()">About</span>
  </header>
  <nav class="navigation-links">
    <a routerLink="/gather" [class.active]="activeTab() === 'gather'"
      >Gather Herbs</a
    >
    <a routerLink="/ingredients" [class.active]="activeTab() === 'ingredients'"
      >Ingredient Compendium</a
    >
    <a routerLink="/recipes" [class.active]="activeTab() === 'recipes'"
      >Concoction Catalog</a
    >
  </nav>
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
  <app-backpack></app-backpack>
</div>
