<form [formGroup]="form" class="herbalist-form">
  <!-- Input Field for Roll -->
  <div class="form-group">
    <label for="roll">Roll:</label>
    <input
      id="roll"
      type="number"
      formControlName="roll"
      placeholder="Enter a positive number"
      class="form-control"
    />
    <div
      *ngIf="form.get('roll')?.invalid && form.get('roll')?.touched"
      class="error-message"
    >
      {{ getErrorMessage() }}
    </div>
  </div>

  <app-biome-selector formControlName="biomes"></app-biome-selector>
  <div
    *ngIf="
      form.get('biomes')?.hasError('atLeastOneBiomeChecked') &&
      form.get('biomes')?.touched
    "
    class="error-message"
  >
    {{ getErrorMessage() }}
  </div>
  <button (click)="gatherHerbs()" class="btn-submit" [disabled]="form.invalid">
    Gather herbs in selected biomes
  </button>
</form>

<div class="plant-table-container">
  <app-display-plants
    *ngIf="gatheredPlants().length"
    [plants]="gatheredPlants()"
  ></app-display-plants>
</div>
