<form [formGroup]="form" class="herbalist-form">
  <!-- Input Field for Roll -->
  <div class="form-group">
    <label for="roll">Nature Roll</label>
    <input
      id="roll"
      type="number"
      formControlName="roll"
      placeholder="Enter a positive number"
      class="form-control"
    />
    <div
      *ngIf="form.get('roll')?.invalid && form.get('roll')?.touched"
      class="error-message"
    >
      {{ getErrorMessage() }}
    </div>
  </div>

  <app-biome-selector formControlName="biomes"></app-biome-selector>
  <div
    *ngIf="
      form.get('biomes')?.hasError('atLeastOneBiomeChecked') &&
      form.get('biomes')?.touched
    "
    class="error-message"
  >
    {{ getErrorMessage() }}
  </div>
  <div class="button-group">
    <button
      (click)="gatherHerbs()"
      [disabled]="form.invalid || herbsGathered()"
    >
      Gather herbs in selected biomes
    </button>
    <button
      (click)="addPlantsToInventory()"
      [disabled]="!herbsGathered() || plantsAdded()"
    >
      Add gathered plants to inventory
    </button>
    <button (click)="reset()">Reset</button>
  </div>
</form>

<div class="plant-table-container">
  <app-display-plants
    *ngIf="gatheredPlants().length"
    [plants]="gatheredPlants()"
    [counts]="counts()"
  ></app-display-plants>
</div>
