<table class="recipe-table">
  <thead>
    <tr>
      <th>Image</th>
      <th><app-sortable-header header="Name"></app-sortable-header></th>
      <th>Ingredients</th>
      <th><app-sortable-header header="Effect"></app-sortable-header></th>
      <th><app-sortable-header header="Strength"></app-sortable-header></th>
      <th><app-sortable-header header="Craftable"></app-sortable-header></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes()">
      <td>
        <img
          [routerLink]="['/recipes', recipe.id]"
          [src]="recipe.imageUrl"
          alt="{{ recipe.name }}"
          loading="lazy"
          onerror="this.src='/assets/plants/todo.webp';"
        />
      </td>
      <td>{{ recipe.name }}</td>
      <td>
        <ul>
          <app-item
            *ngFor="let ingredient of recipe.ingredients"
            [name]="ingredient.plant.name"
            [id]="ingredient.plant.id"
            [imageUrl]="ingredient.plant.imageUrl"
            [count]="ingredient.count"
            [navLink]="'/plants/' + ingredient.plant.id"
          ></app-item>
        </ul>
      </td>
      <td>{{ recipe.effect }}</td>
      <td>{{ recipe.strength }}</td>
      <td>{{ recipe.maxCraftable }}</td>
    </tr>
  </tbody>
</table>
