.ingredient-image,
.rarity-image {
  &:hover {
    cursor: pointer;
  }
}

table {
  // Set column widths to prevent overflow
  th:nth-child(1),
  td:nth-child(1) {
    width: 3%; // Image column
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 6%; // Name column
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 45%; // Appearance column
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 10%; // Rarity column
  }

  th:nth-child(5),
  td:nth-child(5) {
    width: 10%; // Biome column
  }
}
