<div
  [routerLink]="navLink()"
  class="item-card hover-container"
  [attr.data-tooltip]="name()"
  [ngStyle]="{
    'border-color': borderColor(),
    'border-width.px': borderWidth(),
    'border-radius.px': borderRadius(),
    'background-color': backgroundColor()
  }"
  [ngClass]="{
    showPointerOnHover: showPointerOnHover()
  }"
>
  <img
    [src]="imageUrl()"
    class="item-image"
    onerror="this.src='/assets/plants/todo.webp';"
    loading="lazy"
    [ngStyle]="{
      'border-radius.px': imageBorderRadius()
    }"
  />
  <span *ngIf="count()" class="count">{{ count() }}</span>
</div>
