<div class="filter-pane">
  <div class="filter-items">
    <div class="filter-item">
      <label>Strength:</label>
      <ng-select
        [items]="potionStrengths"
        multiple="true"
        (ngModelChange)="onStrengthChange($event)"
        [ngModel]="selectedStrengths()"
        closeOnSelect="false"
      >
      </ng-select>
    </div>
  </div>
  <app-search-bar (search)="setSearchTerm($event)"></app-search-bar>
</div>
<app-display-recipes [recipes]="filteredRecipes()"></app-display-recipes>
