@import "../../../styles.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.plant-image {
  width: 150px;
  height: auto;
  padding-block: $padding-small;
}

.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "MedievalSharp"; /* Fallback if one fails */
  color: #4b3f3c; /* Dark brown ink color */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "MedievalSharp"; /* Fallback if one fails */
  color: #4b3f3c; /* Dark brown ink color */
}

.plant-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 1rem;
  .effect {
    grid-column: 1;
    grid-row: 1;
  }
  .biome {
    grid-column: 2;
    grid-row: 1;
  }
  .recipes {
    grid-column: 1;
    grid-row: 2;
  }
  .appearance {
    grid-column: 2;
    grid-row: 2;
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
