.plant-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  .back-button {
    align-self: flex-start;
    background-color: #4caf50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Increase font size */
    margin-bottom: 20px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 8px; /* Rounded corners */
  }

  .back-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }

  .plant-details {
    display: flex;
    flex-direction: row; /* Changed from column to row */
    align-items: flex-start; /* Changed from center to flex-start */
    gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: "Arial", sans-serif;
    margin-bottom: 20px;

    .plant-image {
      img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
      }
    }

    .plant-info {
      text-align: center;

      h2 {
        font-size: 24px;
        color: #4caf50;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        color: #333;
        margin: 5px 0;

        strong {
          font-weight: bold;
        }
      }
    }
  }
  .recipes-title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  app-display-recipes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
