@import "../../../styles.scss";

/* Herbalist Form */
.herbalist-form {
  padding-bottom: $padding-large;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: $padding-small;
}
