@import "../../styles.scss";

app-search-bar {
  display: flex;
  justify-content: center;

  input {
    width: 100%;
    max-width: 300px;
  }
}

.filter-pane {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-block: $padding-medium;

  label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
}
