/* Herbalist Container */
.herbalist-container {
  margin: 20px auto;
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  font-family: "Arial", sans-serif;
}

/* Welcome Header */
.welcome-header h1 {
  text-align: center;
  font-size: 28px;
  color: #4caf50;
  margin-bottom: 20px;
}


/* Title */
.herbalist-container h1 {
  text-align: center;
  font-size: 28px;
  color: #4caf50;
  margin-bottom: 20px;
}
