<div class="herbalist-container">
  <header class="welcome-header">
    <h1>Welcome to Herbalist!</h1>
  </header>

  <nav class="tab-navigation">
    <button
      class="tab"
      *ngFor="let tab of tabs"
      [class.active]="activeTab === tab"
      (click)="setActiveTab(tab)"
    >
      {{ tab }}
    </button>
  </nav>
  <div class="tab-content" [ngSwitch]="activeTab">
    <div *ngSwitchCase="TabType.GatherHerbs">
      <app-gather-herbs></app-gather-herbs>
    </div>
    <div *ngSwitchCase="TabType.BotanicalCompendium">
        <app-display-plants [plants]="allPlants()"></app-display-plants>
    </div>
    <div *ngSwitchCase="TabType.AlchemicalRecipes">
      <!-- Content for Alchemical Recipes -->
      <p>Alchemical Recipes content goes here.</p>
    </div>
  </div>
</div>
