@import "../../../styles.scss";

.rarity-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 1rem;
}

.rarity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rarity-description {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}

.odds {
  color: $primary-color;
  font-weight: bold;
  padding-block: $padding-small;
}

.percentage {
  font-weight: bold;
  color: #2a5d34;
}
