<div class="filter-pane">
  <div class="filter-items">
    <div class="filter-item">
      <label>Plant biome:</label>
      <ng-select
        [items]="biomes"
        multiple="true"
        closeOnSelect="false"
        [ngModel]="selectedBiomes()"
        (ngModelChange)="onBiomeChange($event)"
      ></ng-select>
    </div>
    <div class="filter-item">
      <label>Plant rarity:</label>
      <ng-select
        [items]="plantRarities"
        multiple="true"
        closeOnSelect="false"
        [ngModel]="selectedRarities()"
        (ngModelChange)="onRarityChange($event)"
      ></ng-select>
    </div>
    <div class="filter-item">
      <label>Ingredient Type:</label>
      <ng-select
        [items]="ingredientTypes"
        multiple="true"
        closeOnSelect="false"
        [ngModel]="selectedIngredientTypes()"
        (ngModelChange)="onTypeChange($event)"
      ></ng-select>
    </div>
  </div>
  <app-search-bar (search)="setSearchTerm($event)"></app-search-bar>
</div>
<app-display-ingredients
  [ingredients]="filteredIngredients()"
  [sortingService]="sortingService"
></app-display-ingredients>
