<table class="plant-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Appearance</th>
      <th>Rarity</th>
      <th>Biome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plant of plants()" [routerLink]="['/plants', plant.id]">
      <td>
        <img
          loading="lazy"
          [src]="plant.imageUrl"
          alt="{{ plant.name }}"
          onerror="this.src='/assets/plants/todo.webp';"
        />
      </td>
      <td>{{ plant.name }}</td>
      <td>{{ plant.appearance }}</td>
      <td>
        <img
          loading="lazy"
          [src]="getRarityImgUrl(plant.rarity)"
          alt="{{ plant.rarity }}"
          onerror="this.src='/assets/plants/todo.webp';"
        />
      </td>
      <td>
        <app-item [item]="getBiomeItem(plant.biome)"></app-item>
      </td>
    </tr>
  </tbody>
</table>
