<table class="plant-table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Appearance</th>
      <th>Rarity</th>
      <th>Biome</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let plant of plants(); let i = index">
      <td>
        <app-item
          *ngIf="counts() as counts; else showPlantWithoutCount"
          [name]="plant.name"
          [id]="plant.id"
          [imageUrl]="plant.imageUrl"
          [count]="counts[i]"
          [navLink]="'/plants/' + plant.id"
        ></app-item>
        <ng-template #showPlantWithoutCount>
          <img
            class="plant-image"
            loading="lazy"
            [src]="plant.imageUrl"
            alt="{{ plant.name }}"
            onerror="this.src='/assets/plants/todo.webp';"
            [routerLink]="['/plants', plant.id]"
          />
        </ng-template>
      </td>
      <td>{{ plant.name }}</td>
      <td>{{ plant.appearance }}</td>
      <td>
        <img
          class="rarity-image"
          (click)="openRarityExplanationModal()"
          [src]="'/assets/rarities/' + plant.rarity + '.webp'"
        />
      </td>
      <td>
        <app-item
          [name]="plant.biome"
          [imageUrl]="'assets/biomes/' + plant.biome + '.webp'"
          [showPointerOnHover]="false"
        ></app-item>
      </td>
    </tr>
  </tbody>
</table>
