<div class="backpack" [ngClass]="{ open: inventoryStore.isOpen() }">
  <img
    src="assets/other/backpack.webp"
    alt="Backpack"
    (click)="inventoryStore.toggleInventory()"
    class="hover-container"
    [attr.data-tooltip]="'Toggle inventory'"
  />

  <div class="inventory">
    <!-- Display ingredients in the inventory -->
    <div class="ingredient-inventory">
      <div class="title">Ingredients</div>
      <div
        *ngIf="sortedIngredients().length; else noIngredients"
        class="ingredients"
      >
        <app-item
          *ngFor="let ingredient of sortedIngredients()"
          [id]="ingredient.id"
          [count]="ingredient.count"
          [name]="ingredient.name"
          [imageUrl]="ingredient.imageUrl"
          [navLink]="'/ingredients/' + ingredient.id"
        ></app-item>
      </div>

      <ng-template #noIngredients>
        <div class="no-items">No ingredients gathered yet</div>
      </ng-template>
    </div>

    <!-- Display recipes in the inventory -->
    <div class="recipe-inventory">
      <div class="title">Potions</div>
      <div *ngIf="sortedPotions().length; else noPotions" class="potions">
        <app-item
          *ngFor="let potion of sortedPotions()"
          [id]="potion.id"
          [count]="potion.count"
          [name]="potion.name"
          [imageUrl]="potion.imageUrl"
          [navLink]="'/recipes/' + potion.id"
        ></app-item>
      </div>
      <ng-template #noPotions>
        <div class="no-items">No potions brewed yet</div>
      </ng-template>
    </div>

    <button (click)="clearInventory()">Clear inventory</button>
  </div>
</div>
