<div class="about-modal-content">
  <h2>About This App</h2>
  <p>
    This app contains about 50 Plants and 50 Potions. The app is still a work in
    progress and a lot of potions effects, descriptions and images still need to
    be worked out.
  </p>

  <h3>Plant rarity</h3>
  <p>
    Plants come in four different rarities. The rarer the plant, the lower the
    chance of finding it.
  </p>

  <h3>Plant biome</h3>
  <p>
    Each plant has a different biome where it can be found. When rolling to
    gather herbs you can filter on the biomes the adventurers have travelled
    through
  </p>

  <h3>Potion strength</h3>
  <p>
    Potions come in four different strengths. The general strength of a potion
    is based on the rarity of the ingredients.
  </p>

  <h3>Inventory</h3>
  <p>
    You can save your plants and potions in the inventory which can be accessed
    by clicking on the backpack on the right side of the screen. Right now the
    backpack is only saved in the browser storage. Which means your inventory is
    linked to the device which you are using.
  </p>

  <h3>Sources</h3>
  <p>
    Some potion effects and descriptions are copied from the following sources:
  </p>
  <p>
    <a href="https://dnd5e.wikidot.com/" target="_blank"
      >https://dnd5e.wikidot.com/</a
    >
  </p>
  <p>
    <a href="https://www.dndbeyond.com/" target="_blank"
      >https://www.dndbeyond.com/</a
    >
  </p>

  <h3>Contributers</h3>
  <p>Maikel Schils - Software | Content | Images</p>
  <p>Bob Barlag - Content</p>
  <p>For questions, contributions or reporting bugs please use Github</p>
  <p>
    <a href="https://github.com/Cheesedip/herbalist" target="_blank"
      >https://github.com/Cheesedip/herbalist</a
    >
  </p>
</div>
